body{
    background-image: url(hatter.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
  }

#ajanlat {
    text-align: center;
    width: 50%;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    background-color: aqua;
}

a:link, :visited, :active :hover{
    color:yellow;
    text-decoration: underline;



}
